.App {
  text-align: center;
}
/* fuentes que se detectaron en el aplicativo*/
@font-face { font-family: loew-next-arabic-extra-bold; 
  src: url('./assets/Font/Loew\ Next\ Arabic\ ExtraBold.ttf'); } 
@font-face { font-family: loew-next-arabic-medium; 
  src: url('./assets/Font/Loew\ Next\ Arabic\ Medium.ttf'); } 
@font-face { font-family: loew-next-arabic-light; 
  src: url('./assets/Font/Loew\ Next\ Arabic\ Light.ttf'); } 
  /* diseño del primer nav*/ 
.navbar {
    background: #0986CC;
    height: 65px;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: loew-next-arabic-extra-bold;
  }
  
  .navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
  }

  .nav-menu {
    display: grid;
    list-style: none;
    text-align: center;
    justify-content: end;
    margin-right: 2rem;
    color: #fff;
    cursor: pointer;
  }
  /* diseño del segundo nav*/ 
  .navbar2 {
    background: #fff;
    height: auto;
    width: 100%;
    font-size: 1.2rem;
    font-family: loew-next-arabic-medium;
    text-transform: capitalize;
  }

  .topnav {
    float: left;
    display: block;
    color: #887E81;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    width: auto;
  }
  .topnav:hover {
    border-bottom: 3px solid #1500A1;
  }

  .botnav{
    background-color:#fff;
    border: 1px solid #887E81;
  }

  #menu ul {
    list-style:none;
    margin:0;
    background-color:#fff;
    padding:0;
   }
   
   #menu ul a {
    display:block;
    color:#887E81;
    text-decoration:none;
    font-weight:400;
    font-size: 14px;
    padding:10px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    letter-spacing:1px;
   }
   
   
   #menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
   }
  
   #menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#eee;
    padding:0;
  }
 
  #menu ul ul li {
    float:none;
    width: 150px;
  }
 
  #menu ul li:hover > ul {
    display:block;
  }
  /*Diseño del footer */
  .footer {
    position: inherit;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0986CC;
    color: white;
    text-align: center;
    border-top: 2px solid #00DCC9;
    height: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .box {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-content: space-between;
    width: 100%;
  }
  .box-title {
    font-family: loew-next-arabic-extra-bold;
    width: 33%;
  }
  .box-text {
    font-family: loew-next-arabic-light;
    width: max-content;
    width: 33%;
    font-size: small;
  }
  /* Diseño del content*/
  .content {
    margin-top: 45px;
    background-image: url("./assets/img/fondo.png");
    height: 500px;
    width: 100%;
  }
    
  h5 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    font-family: loew-next-arabic-extra-bold;
  }

  .title {
    font-family: loew-next-arabic-extra-bold;
  }
  .sub-title {
    color: #858484;
    font-family: loew-next-arabic-medium;
  }

  .text {
    font-family: loew-next-arabic-light;
  }

  .upper {
    text-transform: uppercase;
  }