
@font-face { font-family: loew-next-arabic-extra-bold; 
  src: url('./assets/Font/Loew\ Next\ Arabic\ ExtraBold.ttf'); } 

body {
  margin: 0;
  font-family: loew-next-arabic-extra-bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
